:root {
  --cc-bg: rgba(18, 19, 24, 0.3);
  --noti-border-color: rgba(69, 70, 79, 0.3);
  --noti-bg: 26, 27, 33;
  --noti-bg-alpha: 0.15;
  --noti-bg-darker: rgba(18, 19, 24, 0.3);
  --noti-bg-hover: rgba(40, 42, 47, 0.4);
  --noti-bg-focus: rgba(40, 42, 47, 0.3);
  --noti-close-bg: rgba(255, 255, 255, 0.1);
  --noti-close-bg-hover: rgba(255, 255, 255, 0.2);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgba(255, 255, 255, 0.4);
  --bg-selected: rgba(178, 197, 255, 0.3);
--notification-icon-size: 43px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 21px;
  --border-radius: 8px;
  --notification-shadow: 0 3px 11px rgba(0, 0, 0, 0.4);
  --font-size-body: 9px;
  --font-size-summary: 10px;
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

@define-color cc-bg rgba(18, 19, 24, 0.3);
@define-color noti-border-color rgba(69, 70, 79, 0.3);
@define-color noti-bg rgba(26, 27, 33, 0.15);
@define-color noti-bg-opaque rgb(26, 27, 33);
@define-color noti-bg-darker rgba(18, 19, 24, 0.3);
@define-color noti-bg-hover rgba(40, 42, 47, 0.4);
@define-color noti-bg-hover-opaque rgb(40, 42, 47);
@define-color noti-bg-focus rgba(40, 42, 47, 0.3);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.2);
@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgba(255, 255, 255, 0.4);
@define-color bg-selected rgba(178, 197, 255, 0.3);

notificationwindow, blankwindow {
  background: transparent;
}

.control-center {
  background-color: rgba(18, 19, 24, 0.3);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: var(--border);
}

.control-center .control-center-list-placeholder {
  opacity: 0.3;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: var(--notification-shadow);
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: var(--group-collapse-transition), var(--hover-transition);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--noti-bg-hover);
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

.close-button {
  background: var(--noti-close-bg);
  color: var(--text-color);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--noti-close-bg-hover);
  transition: var(--hover-transition);
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0;
  transition: var(--hover-transition);
  background: rgba(var(--noti-bg), 0.3);
}

.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: var(--text-color);
  transition: var(--hover-transition);
  border-radius: var(--border-radius);
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: var(--border-radius);
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: var(--font-size-body);
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.widget {
  margin: 8px;
  padding: 8px;
  border-radius: var(--border-radius);
}

.widget-title > label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  margin-left: 8px;
  border-radius: var(--border-radius);
}
